/*# My CSS */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #000;
}

.area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaTAFFE {
    background-color: #EAF2F0;
    /* Blue to Green */
}

.areaTech {
    background-color: #5c685c;
    /* Green to Yellow */
}

.areaArt {
    background-color: #bbd4ce;
    /* Yellow to Red */
}

.areaFood {
    background-color: #679186;
    /* Red to Cyan */
}

.areaFitness {
    background-color: #264e70;
    /* Cyan to Purple */
}

.areaEnvironment {
    background-color: #fdebd3;
    /* Purple to Grey */
}

.areaContact {
    background-color: #f9b4ab;
    /* Grey to Blue */
}

.heroTitle {
    color: black;
    font-weight: 600;
    font-size: 50px;
    font-family: "Share Tech Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;


}

.heroSub {
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

nav {
    font-family: "Share Tech Mono", monospace;
    text-align: center;
    color: rgb(55, 55, 55);
    padding: 10px;
    font-size: x-large;
    background: linear-gradient(to bottom, white, #EAF2F0);
    /* Blue to Green */
}

@media screen and (max-width: 768px) {
    nav {
        font-size: x-large;
    }
}

nav hr {
    height: 3px;
    margin: 0 20% 0 20%;
    border-radius: 2px;
}

.areaTitle {
    position: fixed;
    bottom: 10px;
    left: 20px;
    color: black;
    font-weight: 600;
    font-size: 40px;
    font-family: "Share Tech Mono", monospace;
}

@media screen and (max-width: 768px) {
    .areaTitle {
        font-size: 28px;
    }
}

.underscore {
    animation: blinker .75s linear infinite;
}

.areaTitle a:link {
    color: black;
}

/* visited link */
.areaTitle a:visited {
    color: black;
}

/* mouse over link */
.areaTitle a:hover {
    color: black;
}

/* selected link */
.areaTitle a:active {
    color: black;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}



.bg-img {
    background-image: url('../assets/img.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}




/*# My CSS */
